{% extends 'base.html' %}
{% block title %}Rotaract Club of CVS | Contact{% endblock title %}

{% block body %}

<div class="outer__inner">
    <div class="section wishlists js-tabs">
        <div class="wishlists__center center">
            <div class="control">
                <a class="button-stroke button-small control__button" href="/">
                    <svg class="icon icon-arrow-left">
                        <use xlink:href="#icon-arrow-left"></use>
                    </svg><span>Go home</span>
                </a>
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/ ">Home</a></li>
                    <li class="breadcrumbs__item">Contact Us</li>
                </ul>
            </div>
            
            
            
        </div>
    </div>
   
    
</div>

{% endblock body %}