{% extends 'base.html' %}
{% block title %}Rotaract Club of CVS | Parent Club{% endblock title %}
{% block body %}

<div class="outer__inner">
    <div class="section wishlists js-tabs">
        <div class="wishlists__center center">
            <div class="control">
                <a class="button-stroke button-small control__button" href="/">
                    <svg class="icon icon-arrow-left">
                        <use xlink:href="#icon-arrow-left"></use>
                    </svg><span>Go home</span>
                </a>
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/ ">Home</a></li>
                    <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/about ">About</a></li>
                    <li class="breadcrumbs__item">Our Institution</li>
                </ul>
            </div>


            <div class="section description">
                <div class="description__center center">
                    <div class="description__wrapper">
                        <div class="description__group">
                            <div class="description__section">
                                <div class="description__content">
                                    <h4>About </h4>
                                    <p>
                                        One of the eminent colleges of University of Delhi is College of Vocational
                                        Studies which was founded in 1972 with an emphasis on vocational courses. It is
                                        a part of south campus and adjacent to Shaheed Bhagat Singh College. It is among
                                        the pioneer institutions in the country to offer Vocational education and seeks
                                        to break new ground by bridging the gap between traditional University education
                                        and changing socio-economic environment. It is a co-educational college which
                                        offers the traditional courses and vocational courses under the same roof. The
                                        Vocational courses enable a student to interweave general education with work
                                        oriented skills and knowledge. The College is NAAC 'A' Accredited Institution.
                                    </p>
                                </div>
                                <div class="description__full">
                                    <div class="description__content description__content_hide">
                                        <p>
                                            Admission to the college is granted based on the cut-offs released by DU.
                                            Admission to undergraduate vocational programmes is offered in Office
                                            Management, Management & Marketing of Insurance, Tourism Management, Small &
                                            Medium enterprises, and others. Vocational courses have gained popularity
                                            among youngsters due to various reasons viz. Better job opportunities,
                                            skill-based knowledge, affordability, short duration, etc. Students can even
                                            start their own business for the application of skills acquired through the
                                            vocational course.
                                        </p>

                                    </div>
                                    <button class="button-stroke button-small description__button">
                                        Show more
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="travel__col">
                        <div class="travel__wrapper">

                            <div class="travel__gallery">
                                <div class="travel__bg"><img srcSet="static\img\3.png"
                                        src="static\img\3.png" alt="CVS"></div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock body %}