{% extends 'base.html' %}
{% block title %}Rotaract Club of CVS | Gallery{% endblock title %}

{% block body %}


<div class="outer__inner">
    <div class="section wishlists js-tabs">
        <div class="wishlists__center center">
            <div class="control">
                <a class="button-stroke button-small control__button" href="/">
                    <svg class="icon icon-arrow-left">
                        <use xlink:href="#icon-arrow-left"></use>
                    </svg><span>Go home</span>
                </a>
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/ ">Home</a></li>
                    <li class="breadcrumbs__item">Gallery</li>
                </ul>
            </div>
    

            
            <div class="product__grid">
            {% for x in gallery %}
              <div class="product__photo">
                <img src="{{x.img.url}}" alt="{{x.name}}" />
              </div>
            {% endfor %}
            </div>
            
            <div class="product__foot">
              <a
                class="button-circle-stroke button-small product__button"
                href="/"
              >
                <svg class="icon icon-close">
                  <use xlink:href="#icon-close"></use></svg
              ></a>
            </div>
        </div>
    </div>
   
    
</div>

{% endblock body %}