{% extends 'base.html' %} {% block title %}Rotaract Club of CVS |
About{%endblock title %} {% block body %}

<div class="outer__inner">
  <div class="section wishlists js-tabs">
    <div class="wishlists__center center">
      <div class="control">
        <a class="button-stroke button-small control__button" href="/">
          <svg class="icon icon-arrow-left">
            <use xlink:href="#icon-arrow-left"></use>
          </svg><span>Go home</span>
        </a>
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="/ ">Home</a>
          </li>
          <li class="breadcrumbs__item">About Us</li>
        </ul>
      </div>

      <div class="product__head">
        <div class="product__box">
          <h2 class="product__title h2">
            Rotaract Club Of College Of Vocational Studies
          </h2>
          <div class="product__line">
            <div class="product__options">
              <div class="product__option">
                <svg class="icon icon-flag">
                  <use xlink:href="#icon-flag"></use>
                </svg>A Part of Rotary International District 3011
              </div>
            </div>
          </div>
        </div>
        <div class="actions js-actions">
          <div class="actions__list">

            <div class="actions__item">
              <a class="button-circle-stroke button-small actions__button" href="stays-category.html">
                <svg class="icon icon-instagram">
                  <use xlink:href="#icon-instagram"></use>
                </svg></a>
            </div>
            
            <div class="actions__item">
              <a class="button-circle-stroke button-small actions__button" href="stays-category.html">
                <svg class="icon icon-facebook">
                  <use xlink:href="#icon-facebook"></use>
                </svg></a>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery">
        <div class="product__photo">
                <img src="static\img\WhatsApp Image 2021-08-30 at 12.40.53 PM.jpeg" alt="" />
              </div>
      </div>
    </div>
    <div class="section description">
      <div class="description__center center">
        <div class="description__wrapper">
          <div class="description__group">
            <div class="description__section">
              <div class="description__content">
                <h4>About Us</h4>
                <p>
                  Rotaract Club Of College Of Vocational Studies was chartered
                  on 31st August, 2018. It falls under 3011 district, guided by
                  Rotary Club Of Delhi South West and is affiliated by College
                  Of Vocational Studies, University of Delhi. It was the best
                  chartered club in 2018-19. It has been awarded Rotary Citation
                  with Platinum Distinction and is one of the best clubs in the
                  district. Through various professional,
                  international and community development projects, plantation
                  drives, food donation drives and fellowship events, we persist
                  on doing our part in the Rotaract Movement.
                </p>
              </div>
              <div class="description__full">
                <div class="description__content description__content_hide">
                  <p>
                    Rotaract Club of College of Vocational Studies endeavours to provide the unparallel exposures with
                    no stone unturned.

                    In its long journey of 3 years, it has been providing a true vision to its members in pusuit of
                    their mission.

                    The life becomes worthy when it changes the life of others and that is what Rotaract Club aims to
                    accomplish in this Rota year - Serve to Change the Lives.

                    The members who work tirelessly throughout the tenure to bring about a change gets tremendous
                    experience in the form of fellowships and leadership
                  </p>

                </div>
                <button class="button-stroke button-small description__button">
                  Show more
                </button>
              </div>
            </div>
            <div class="description__section">
              <h4 class="description__title h4">Our Vision</h4>
              <div class="description__inner">
                <div class="description__slider js-slider-description">
                  <div class="description__slide" style="background-color: #e0eef7">
                    <div class="description__preview">
                      <svg class="icon icon-pizza-slice">
                        <use xlink:href="#icon-pizza-slice"></use>
                      </svg>
                    </div>
                    <div class="description__subtitle">Serve the Needy</div>
                    <div class="description__text">
                      The Rotaract Club of College of Vocational Studies envisions itself as an organisation that
                      constitutes individuals who strive to serve the needy and make a difference in the community.
                    </div>
                  </div>
                  <div class="description__slide" style="background-color: #d3eedc">
                    <div class="description__preview">
                      <svg class="icon icon-glass">
                        <use xlink:href="#icon-glass"></use>
                      </svg>
                    </div>
                    <div class="description__subtitle">Social Revolution</div>
                    <div class="description__text">
                      It envisions to provide a pedestal for building a castle of development and brings a social
                      revolution to raise the standard of living of the society
                    </div>
                  </div>
                  <div class="description__slide" style="background-color: #fff4d9">
                    <div class="description__preview">
                      <svg class="icon icon-bag">
                        <use xlink:href="#icon-bag"></use>
                      </svg>
                    </div>
                    <div class="description__subtitle">Catapult the Latent Skills</div>
                    <div class="description__text">
                      It endeavours to seek all those opportunities which would aid to catapult the latent skills in
                      every possible way.
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="receipt">
          <div class="receipt__head">
            <div class="receipt__details">
              <div class="receipt__cost">

                <div class="receipt__actual">Awards & Recogination</div>
                <div class="receipt__note"> </div>
              </div>
              <div class="receipt__rating">
                <svg class="icon icon-star">
                  <use xlink:href="#icon-star"></use>
                </svg>
                <div class="receipt__number">40+ Awards</div>
                <div class="receipt__reviews">(till now)</div>
              </div>
            </div>

          </div>
          <div class="receipt__description receipt__description_flex">
            <div class="receipt__item">
              <div class="receipt__icon">
                <svg class="icon icon-calendar">
                  <use xlink:href="#icon-calendar"></use>
                </svg>
              </div>
              <div class="receipt__box">
                <div class="receipt__category">Charter Date</div>
                <div class="receipt__subtitle">Aug 31, 2018</div>
              </div>
            </div>
            <div class="receipt__item">
              <div class="receipt__icon">
                <svg class="icon icon-flag">
                  <use xlink:href="#icon-flag"></use>
                </svg>
              </div>
              <div class="receipt__box">
                <div class="receipt__category">Club ID</div>
                <div class="receipt__subtitle">216041</div>
              </div>
            </div>
          </div>
          <div class="receipt__offers">
            <div class="receipt__offer">
              <div class="receipt__wrap">
                <div class="receipt__date">Best Chartered Club</div>

              </div>
              <a class="button-stroke receipt__button" href="checkout.html"><span class="receipt__cost"><span
                    class="receipt__money"></span>2018 - 2019 </span>
                <svg class="icon icon-calendar">
                  <use xlink:href="#icon-calendar"></use>
                </svg></a>
            </div>
            <div class="receipt__offer">
              <div class="receipt__wrap">
                <div class="receipt__date">Rotary Citation </div>
                <div class="receipt__time">With Platinum Distinction</div>
              </div>
              <a class="button-stroke receipt__button" href="checkout.html"><span class="receipt__cost"><span
                    class="receipt__money">2019 - 2020</span>
                  <svg class="icon icon-calendar">
                    <use xlink:href="#icon-calendar"></use>
                  </svg></a>
            </div>
            <div class="receipt__offer">
              <div class="receipt__wrap">
                <div class="receipt__date">Best Institution Based Club</div>
                <div class="receipt__time">In Silver Category</div>
              </div>
              <a class="button-stroke receipt__button" href="checkout.html"><span class="receipt__cost"><span
                    class="receipt__money"></span>2020 - 2021</span>
                <svg class="icon icon-calendar">
                  <use xlink:href="#icon-calendar"></use>
                </svg></a>
            </div>
            <div class="receipt__offer">
              <div class="receipt__wrap">
                <div class="receipt__date">Supporting Club - Suit Up!</div>
                <div class="receipt__time">District Project</div>
              </div>
              <a class="button-stroke receipt__button" href="checkout.html"><span class="receipt__cost"><span
                    class="receipt__money">2020 - 2021</span>
                  <svg class="icon icon-calendar">
                    <use xlink:href="#icon-calendar"></use>
                  </svg></a>
            </div>
            <div class="receipt__offer">
              <div class="receipt__wrap">
                <div class="receipt__date">7 Rotary areas of Focus</div>
                <div class="receipt__time">Club Focused</div>
              </div>
              <a class="button-stroke receipt__button" href="checkout.html"><span class="receipt__cost"><span
                    class="receipt__money"></span> 2020 - 2021</span>
                <svg class="icon icon-calendar">
                  <use xlink:href="#icon-calendar"></use>
                </svg></a>
            </div>
          </div>
          <div class="receipt__foot">
            <a class="receipt__more" href="#">See more dates</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section browse">
      <div class="browse__center center">
        <div class="browse__inner">
          <div class="browse__head browse__head_small">
            <h4 class="browse__title h4">Explore mountains in New Zealand</h4>
          </div>
          <div class="browse__wrapper">
            <div class="browse__slider js-slider-browse"><a class="browse__card" href="/rotaryinternational">
                <div class="browse__preview"><img srcSet="static\img\Rotary.png"
                    src="static\img\Rotary.png" alt="Rotary International">
                  <div class="status-black browse__category">Rotary</div>
                </div>
                <div class="browse__subtitle">Rotary International</div>

              </a><a class="browse__card" href="/rcdsw">
                <div class="browse__preview"><img srcSet="static\img\parent.png"
                    src="static\img\parent.png" alt="RCDSW">
                  <div class="status-black browse__category">Our Parent Club</div>
                </div>
                <div class="browse__subtitle">Rotary Club of Delhi South West</div>

              </a><a class="browse__card" href="/rotaractdistrict3011">
                <div class="browse__preview"><img srcSet="static\img\district.png"
                    src="static\img\district.png" alt="Rotaract District">
                  <div class="status-black browse__category">Our District</div>
                </div>
                <div class="browse__subtitle">Rotaract District 3011</div>

              </a><a class="browse__card" href="/cvs">
                <div class="browse__preview"><img srcSet="static\img\cvs.jpg"
                    src="static\img\cvs.jpg" alt="CVS">
                  <div class="status-black browse__category">Our Institution</div>
                </div>
                <div class="browse__subtitle">College of Vocational Studies</div>

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock body %}