{% extends 'base.html' %}
{% block title %}Rotaract Club of CVS | Parent Club{% endblock title %}
{% block body %}

<div class="outer__inner">
    <div class="section wishlists js-tabs">
        <div class="wishlists__center center">
            <div class="control">
                <a class="button-stroke button-small control__button" href="/">
                    <svg class="icon icon-arrow-left">
                        <use xlink:href="#icon-arrow-left"></use>
                    </svg><span>Go home</span>
                </a>
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/ ">Home</a></li>
                    <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/about ">About</a></li>
                    <li class="breadcrumbs__item">Rotary International</li>
                </ul>
            </div>


            <div class="section description">
                <div class="description__center center">
                    <div class="description__wrapper">
                        <div class="description__group">
                            <div class="description__section">
                                <div class="description__content">
                                    <h4>About</h4>
                                    <p>
                                        Rotary International is an international service organization whose stated
                                        purpose is to bring together business and professional leaders in order to
                                        provide humanitarian service and to advance goodwill and peace around the world.
                                        It is a non-political and non-religious organization.

                                        Rotary is dedicated to causes that build international relationship , improve
                                        lives and create a better world to support our peace efforts and end polio
                                        forever.

                                        Rotary is the oldest and most prestigious service club in the world. Its ranks
                                        include executives, managers, professionals - people who make decisions
                                        andinfluence policy. ... Rotarians provide community service to both local and
                                        international communities.

                                        As a large and diverse organisation, Rotary provides individuals with the power
                                        to help those in need. There are countless opportunities to make a difference to
                                        those less fortunate than ourselves.

                                    </p>
                                </div>
                                <div class="description__full">
                                    <div class="description__content description__content_hide">
                                        <p>
                                            Rotaract clubs bring together people ages 18-30 to exchange ideas with
                                            leaders in the community, develop leadership and professional skills, and
                                            have fun through service. In communities worldwide, Rotary and Rotaract
                                            members work side by side to take action through service.
                                        </p>

                                    </div>
                                    <button class="button-stroke button-small description__button">
                                        Show more
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="travel__col">
                        <div class="travel__wrapper">

                            <div class="travel__gallery">
                                <div class="travel__bg"><img srcSet="static\img\2.png"
                                        src="static\img\2.png" alt="Travel"></div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock body %}