{% extends 'base.html' %}
{% block title %}Rotaract Club of CVS | Parent Club{% endblock title %}
{% block body %}

<div class="outer__inner">
    <div class="section wishlists js-tabs">
        <div class="wishlists__center center">
            <div class="control">
                <a class="button-stroke button-small control__button" href="/">
                    <svg class="icon icon-arrow-left">
                        <use xlink:href="#icon-arrow-left"></use>
                    </svg><span>Go home</span>
                </a>
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/ ">Home</a></li>
                    <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/about ">About</a></li>
                    <li class="breadcrumbs__item">Our District</li>
                </ul>
            </div>


            <div class="section description">
                <div class="description__center center">
                    <div class="description__wrapper">
                        <div class="description__group">
                            <div class="description__section">
                                <div class="description__content">
                                    <h4>About </h4>
                                    <p>
                                        Rotaract Club Of College Of Vocational Studies was chartered
                                        on 31st August, 2018. It falls under 3011 district, guided by
                                        Rotary Club Of Delhi South West and is affiliated by College
                                        Of Vocational Studies, University of Delhi. It was the best
                                        chartered club in 2018-19. It has been awarded Rotary Citation
                                        with Platinum Distinction and is one of the best clubs in the
                                        district among 55 clubs. Through various professional,
                                        international and community development projects, plantation
                                        drives, food donation drives and fellowship events, we persist
                                        on doing our part in the Rotaract Movement.
                                    </p>
                                </div>
                                <div class="description__full">
                                    <div class="description__content description__content_hide">
                                        <p>
                                            Through the Rotary's motto of "Serve to Change lives",
                                            Raccvs continues to strive and do our part to take the
                                            banner of Rotaract to greater heights! Our theme for the
                                            current session in LEAD- leadership, entrepreneurship,
                                            achieve, development, as we'll focus on all these aspects!
                                        </p>

                                    </div>
                                    <button class="button-stroke button-small description__button">
                                        Show more
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="travel__col">
                        <div class="travel__wrapper">
                            
                                <div class="travel__gallery">
                                    <div class="travel__bg"><img srcSet="static\img\travel-pic-1@2x.jpg 2x"
                                            src="static\img\travel-pic-1.jpg" alt="Travel"></div>
                                    
                                </div>
                               
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock body %}